<div ng-controller="rsvpAuthenticationController" class="loginContainer">

    <h1>RSVP Admin Login</h1>
    
    <form ng-submit="authenticateUser(loginInfo)" class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Who are you?</label>
            <div class="col-sm-3">
                <select name="userSelect" ng-model="loginInfo.userId" class="form-control input-lg">
                    <option ng-repeat="staff in availableStaff" value="{{staff._id}}">{{staff.displayName}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
    </form>
</div>